html{
    background-color:black;
    color:black;
    font-family:sans;
    justify-content: center;
    scroll-behavior: smooth;
      display: flex;
      flex-direction: column;
        align-items: center;
  justify-content: space-around;
    }

h1, h2, h3{
	font-family: Irma Regular;
	}

a{
color: black;}


header, main, footer{

    background-color: white;
    
    padding: 25px;
    margin:5%;
    width: 600px;
    border-radius: 5px;
    }
