#tools {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #525252;
    text-align: center;
  }	

  line {
    stroke: #000;
    stroke-width: 1.px;
  }

  text {
    font-size: 8px;
  }

  .titles{
    font-size: 10px;
  }

  path.chord {
    fill-opacity: .80;
  }